// This file is loaded when main.js loads

.hidden {
	display: none;
}

.main {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.minimap {
	position: absolute;
	width: 250px;
	height: 250px;
	bottom: 0;
	right: 0;
	z-index: 50;
}

.debug {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: rgba(75, 75, 75, 0.2);
	z-index: 10;

	color: lightgrey;
	overflow: auto;
	
	.active {
		color: salmon;
	}
	
	p {
		text-align: right;
		margin: 0;
		padding: 0;
	}
}

.debug_control-list {
	position: absolute;
	right: 5px;
	list-style: none;
	display: inline-block;
	margin: 0;
	
	li {
		display: flex;
		justify-content: space-between;

		b {
			padding-right: 5px;
		}
	}
}

.examples {
	position: absolute;
}
